{% extends "admin/user/main.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load thumbnail %}

{% block title %}{{ block.super }}Profile{% endblock %}

<!-- Benefits of the Django application -->
{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h2 class="box-title">Edit Profile</h2>
        <div class="pull-right box-tools">
          <a type="button" class="btn btn-default btn-sm" href="{% url 'accounts:password-change' %}"> Change Password</a>
        </div>
      </div>
      <div class="box-body">
        <div class="row">
          <!-- left column -->
          <div class="col-md-3">
            <div class="text-center">
              <img title="profile picture" class="img-circle img-responsive"
                   src="{% thumbnail user.profile.picture|default:'default_profile.png' 140x140 crop %}">
            </div>
          </div>

          <!-- edit form column -->
          <div class="col-md-9">
            <h3>Personal info</h3>
            <form enctype="multipart/form-data" method="post">
              {% crispy user_form %}
              {% crispy profile_form %}
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>

{% endblock %}


